<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>NewBudget - Cadastro</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
	<nav>
		<div class="nav-wrapper green">
			<a href="#" class="brand-logo center">Medicos Cadastrados</a>
		</div>
	</nav>
	<br>
	<table class="container">
		<tr>
			<td>
				<a class="waves-effect waves-light btn" href="/index"><i
				class="material-icons left">home</i>HOME</a>
				
			</td>
		</tr>
		<tr>
			<td>
				<a class="btn-floating btn-large waves-effect waves-light green" href="/cadastrar_medico"><i class="material-icons">add</i></a>
				<a class="btn-floating btn-large waves-effect waves-light green" href="/listar_medicos"><i class="material-icons">arrow_back</i></a>
			</td>
		</tr>
	</table>
	
	<!------------------------------------------------------------->
<table class="container">
		<thead>
			<tr>
				<th>Codigo<br>
					<form th:action="@{/buscar_medico_by_id}" method="post">
						<input placeholder="Codigo" id="id" type="text" name="id" size=3 class="validate" >
					</form>
				</th>
				<th>Nome<br>
					<form th:action="@{/buscar_medico_by_nome}" method="post">
						<input placeholder="Nome" id="nome" type="text" name="nome" size=3>
					</form>
				</th>
				<th>Data Nascimento<br>
					<form th:action="@{/buscar_medico_by_datanascimento}" method="post">
						<input placeholder="Data Nascimento" id="datanascimento" type="text" name="datanascimento" size=3>
					</form>
				</th>
				<th>CPF<br>
					<form th:action="@{/buscar_medico_by_cpf}" method="post">
						<input placeholder="CPF" id="cpf" type="text" name="cpf" size=3>
					</form>
				</th>
				<th>Celular<br>
					<form th:action="@{/buscar_medico_by_celular}" method="post">
						<input placeholder="Celular" id="celular" type="text" name="celular" size=3>
					</form>
				</th>
				<th>CRM<br>
					<form th:action="@{/buscar_medico_by_crm}" method="post">
						<input placeholder="Crm" id="crm" type="text" name="crm" size=3>
					</form>
				</th>
				<th>Editar/Deletar</th>
			</tr>
			<tr>
				<th><span th:text="${mensagem}"></span></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="medico : ${medicos}">
					
					<td><span th:text="${medico.id}"></span></td>
					<td><span th:text="${medico.nome}"></span></td>
					<td><span th:text="${medico.datanascimento}"></span></td>
					<td><span th:text="${medico.cpf}"></span></td>
					<td><span th:text="${medico.celular}"></span></td>
					<td><span th:text="${medico.crm}"></span></td>
					<th>
						<a class="waves-effect waves-light btn blue" th:href="@{/editar_medico(id=${medico.id})}"><i class="material-icons center">edit</i></a>
						<a class="waves-effect waves-light btn red" th:href="@{/deletar_medico(id=${medico.id})}"><i class="material-icons center">delete</i></a>
					</th>
			</tr>
		</tbody>
	</table>

	<!------------------------------------------------------------->
	
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>