<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>NewBudget - Cadastro</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
	<nav>
		<div class="nav-wrapper green">
			<a href="#" class="brand-logo center">Cadastrar Paciente</a>
		</div>
	</nav>
	<br>
	<table class="container">
		<tr>
			<td>
				<a class="waves-effect waves-light btn" href="/index"><i
				class="material-icons left">home</i>HOME</a>
				<a class="waves-effect waves-light btn" href="/listar_pacientes"><i
				class="material-icons left">arrow_back</i>Voltar</a>
				
			</td>
		</tr>
	</table>
	
	<!------------------------------------------------------------->
	<div class="row">
	    <form class="container" method="post" th:object="${paciente}" th:action="@{/save_paciente}">
	      <div class="row">
	        <input type="hidden" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"><br>
	       <div class="input-field col s6">
	          <input placeholder="Digite o nome do Paciente" id="nome" type="text" class="validate" name="nome" th:field="*{nome}">
	          <label for="first_name">Nome</label>
	        </div>
	        <div class="input-field col s6">
	          <input placeholder="Digite CPF do Paciente" id="cpf" type="text" class="validate" name="cpf" th:field="*{cpf}">
	          <label for="first_name">CPF</label>
	        </div>
			<div class="input-field col s6">
	          <input placeholder="Data de Nascimento" id="datanascimento" type="text" class="validate" name="datanascimento" th:field="*{datanascimento}">
	          <label for="first_name">Data de Nascimento</label>
	        </div>
	        <div class="input-field col s6">
	          <input placeholder="Digite o numero de celular com DDD" id="celular" type="text" class="validate" name="celular" th:field="*{celular}"> 
	          <label for="first_name">Celular</label>
	        </div>
	      </div>
	      <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
	    </form>
	  </div>
	  <table class="container">
			<thead>
				<tr>
					<th><span th:text="${mensagem}"></span></th>
				</tr>
			</thead>
		</table>

	<!------------------------------------------------------------->
	
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>